doctype html
html
	head
		title= `${title} | ${h.siteName}`
		link(rel='stylesheet', href='/dist/style.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block scripts
	body
		block header

		block messages
		.content
			block content
